my_app/__pycache__/
my_app/models/__pycache__/
my_app/serializers/__pycache__/
my_app/views/__pycache__/
my_app/validations/__pycache__/
my_app/mails/__pycache__/
helpers/__pycache__/
middleware/__pycache__/
configs/__pycache__/
my_project/__pycache__/
venv/
enviroments/__pycache__/
console/queues/__pycache__/
